nav{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;

    background-color: darkslategray;

    box-sizing: border-box;

    position: fixed;
    left: 0px;
    top: 0px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: right;
    align-content: flex-start;

    z-index: 10;
}

.navActive{
    width: 15%;
    transition: all 0.2s;
}

.navNonActive{
    width: 40px;
    transition: all 0.2s;
}

.navNonActive:hover{
    background-color: rgb(62, 99, 99);
    cursor: pointer;
    transition: all 0.2s;
}

nav img{
    margin: 20px 4px 20px 0px;
    padding: 0px;
    width: 30px;

    cursor: pointer;

    box-sizing: border-box;
}

nav a{
    margin: 0px;
    padding: 0px;
    width: 100%;

    font-size: 16px;
    color: white;
    line-height: 40px;
    transition: all 0.2s;

    text-decoration: none;
    text-align: center;

    box-sizing: border-box;
}

nav a:hover{
    background-color: rgb(33, 68, 68);
    transition: all 0.2s;
}

.navPanel{
    margin: 0px;
    padding: 0px;
    width: 100%;

    font-size: 18px;
    color: white;
    line-height: 40px;
    cursor: pointer;

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}


.navPanel a:hover{
    background-color: rgb(62, 99, 99);
}

.navPanelItems{
    margin: 0px;
    padding: 0px;
    width: 100%;

    background-color: rgb(25, 54, 54);

    box-sizing: border-box;

    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: right;
    align-content: flex-start;
}