.newsItem {
    margin: 0px 0px 40px 0px;
    padding: 0px;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.newsItem .header {
    margin: 0px;
    padding: 0px 0px 0px 4px;
    width: 100%;
    min-height: 40px;

    background-color: rgb(144, 165, 165);

    box-sizing: border-box;
}

.newsItem .text {
    margin: 0px;
    padding: 0px 0px 0px 4px;
    width: 100%;
    height: auto;

    border-bottom: 1px solid rgb(144, 165, 165);

    box-sizing: border-box;
}