body {
    margin: 0px;
    padding: 0px;

    background-image: url('./images/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: 'Montserrat', 'Open Sans', 'Roboto', Calibri;

    box-sizing: border-box;
}

#root{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main{
    margin: 1% 0.5% 0px 0px;
    padding: 0px;
    width: 84%;
    min-height: 800px;

    font-family: Calibri;
    color: black;
    font-size: 16px;
    border-radius: 6px;

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main p {
    margin: 0px;
    padding: 0px;

    font-size: 18px;

    box-sizing: border-box;
}

#addItem{
    margin: 0px;
    align-self: flex-start;

    display: flex;
    align-content: center;
}

#addItem a{
    color: black;
    
    font-family: 'Calibri';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    align-self: flex-start;
}

#addItem a:hover{
    color: rgb(62, 99, 99);
}

#addItem img{
    margin: 0px 2px 0px 0px;
    width: 14px;
    border: 1px solid black;
}