body {
    margin: 0px;
    padding: 0px;

    background-image: url('./images/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Calibri;

    box-sizing: border-box;
}

#root{
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}